@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 75%;
  height: auto;
  position: relative;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#FFFFFF, #3399FF);
  background: -webkit-linear-gradient(#FFFFFF, #3399FF);
  background: -o-linear-gradient(#FFFFFF, #3399FF);
}
.close {
  background: #FF5330;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #FF0000; }
input{
  text-align: center;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 1;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  display: inline-block;
  padding: 4px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  color: #3399FF;
  background-color: #FFFFFF;
  border-radius: 5px;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.form-group{
  text-align: center;
}
.select{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  -webkit-border-radius: 4px;
  height: auto;
  width: inherit;
  padding: 5px;
  font:
}
