    <button id="button1" onclick="openNav()">Menu</button>

    <!--Navbar-->
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="\login">Postclip</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="\home">Index <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>


<h1>Postclips</h1>
<div class="container">
    <div class="row">
      <div align="center" class="col-lg-12">
        <span *ngFor="let postclip of postclips">
          <hr>
          <a (click)="goToShow()" class="postclip-link list-group-item list-group-item-action flex-column align-items-start">
            <h4 class="list-group-item-heading">{{postclip.name}}</h4>
            <img src="{{postclip.attachment.url}}"  height="250" width="400">
            <h5 class="list-group-item-heading">{{postclip.description}}</h5>
            <button id="button1" class="form-control  " onclick="">Like</button>
          </a>
        </span>
      </div>
  </div>
</div>

     <!-- Footer -->
      <footer>
          <div align="center" class="row">
              <div class="col-lg-12">
                  <p>Copyright &copy; PostClip 2017</p>
              </div>
          </div>
          <!-- /.row -->
      </footer>
