<div>

<!--Navbar-->
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<!--Navbar-->
	<div class="row" align="center" style="background-image: url(/assets/login/images/fondologin.png)">
		<br>
    <div class="col-sm-12"></div>
    <div class="col-sm-2"></div>
		<div class="col-sm-3" style="background-color: white;border-radius: 25px;">
			<h1>Login</h1>
			<br>
      <img src="/assets/login/images/user.jpg" class="img-responsive" style="width:7em;height:7em;"alt="Cinque Terre">
      <br>
			<label><b>Username</b></label>
			<input type="text" class="form-control"  style="width: 20em" placeholder="Enter Username" name="uname" required>
			<br>
			<label><b>Password</b></label>
			<input type="password" class="form-control" style="width: 20em" placeholder="Enter Password" name="psw" required>
			<br>
			<br>
      <button class="btn btn-success" type="submit">Log in</button>
		</div>

		<div class="col-sm-2"></div>
		<div class="col-sm-3" style="background-color: white;border-radius: 25px;">
			<h1>Register</h1>
			<br>
      <img src="/assets/login/images/registerUser.png" class="img-responsive" style="width:7em;height:7em;"alt="Cinque Terre">
      <br>
			<label><b>Name</b></label>
			<input type="text" class="form-control"  style="width: 20em" placeholder="Enter name" name="rname" required>
			<br>
			<label><b>Username</b></label>
			<input type="text" class="form-control"  style="width: 20em" placeholder="Enter Username" name="rname" required>
			<br>
			<label><b>Password</b></label>
			<input type="password" class="form-control" style="width: 20em" placeholder="Enter Password" name="rpsw" required>
			<br>
			<br>
      <button class="btn btn-success" type="submit">Sign Up!</button>
			<br><br>
		</div>
		<div class="col-sm-2"></div>
		<br><br>
		<div class="col-sm-8"><br><br><br><br></div>
	</div>

<!--Aqui el footer-->

<!-- Footer -->

<footer>
    <div class="container text-center">
        <p>Copyright &copy; PostClips 2017</p>
    </div>
</footer>

<!-- footer -->

</div>
