<a href="#openModal">Open Modal</a>

<div id="openModal" class="modalDialog">
  <div>
    <a href="#close" title="Close" class="close">X</a>
    <h2>Add new board</h2>
    <form class="form-group" (ngSubmit)="createBoard(board)"  #boardForm="ngForm" >
      <div class="form-group">
        <label for="name">Category:</label>
        <input type="text" class="form-control" placeholder="Enter the board category"
        name="name" #name='ngModel' [(ngModel)]="board.name">
      </div>
      <div>
        <div id="content">
          <a class="btn btn-warning" href="#close" type="submit" [hidden]="submitted"><b>Add clip to board</b></a>
        </div>
        <div id="content">
          <a class="btn btn-success" href="#close" type="submit" [hidden]="submitted"><b>Save</b></a>
        </div>
      </div>
      <br>
    </form>
  </div>
</div>
